.blog {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blog .title {
  letter-spacing: 0.03em;
}

.blog__wrapper {
  margin-top: 60px;
}

.blog__item {
  margin-bottom: 30px;
}

.blog__item:last-child {
  margin-bottom: 0;
}
