.blog {
  text-align: center;
}

.blog__title {
  letter-spacing: 0.03em;
}

.blog__wrapper {
  margin-top: 60px;
}

.blog__item {
  margin-bottom: 30px;
}

.blog__item:last-child {
  margin-bottom: 0;
}
