.blog {
  text-align: center;
}

.blog h2 {
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.blog__wrapper {
  margin-top: 65px;
}

.blog__item {
  width: 50%;
  margin-bottom: 30px;
}

.blog .article--big {
  width: 48.7%;
}

.blog__item:last-child {
  margin-bottom: 0;
}

@media (max-width: $desktop-width) {
  .blog__item {
    width: 100%;
  }
}
