.contacts__list {
  @include list-reset;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__icon {
  margin-right: 18px;

  &:hover {
    fill: $decor;
  }
}

.contacts__icon--facebook {
  width: 15px;
}

.contacts__link {
  text-decoration: none;
  color: $base-color;
  white-space: nowrap;

  &:hover {
    color: rgba($decor, 0.65);
  }

  &:hover .contacts__icon {
    fill: $decor;
  }
}
