.footer {
  background-color: $black2;
  padding: 100px 98px;
  display: flex;
}

.footer .nav__list {
  margin-left: 91px;
}

.footer .nav__list--about {
  margin-left: 82px;
}

.footer__contacts {
  margin-left: 87px;
}
