.goods:last-child {
  margin-right: 0;
}

.goods__img {
  width: 100%;
}

.goods h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 5px;
}

.goods__price {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: $tablet-width) {
  .goods__price {
    margin-top: 10px;
  }

  .goods h3 {
    margin-top: 15px;
  }

  .goods__price {
    margin-top: 5px;
  }
}
