.goods:last-child {
  margin-right: 0;
}

.goods__img {
  width: 100%;
}

.goods__title {
  margin-top: 20px;
}

.goods__price {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: $tablet-width) {
  .goods__price {
    margin-top: 10px;
  }
}
