.goods {
  margin-right: 30px;
}

.goods:last-child {
  margin-right: 0;
}

.goods__title {
  margin-top: 20px;
}

.goods__price {
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: $desktop-width) {
  .goods__img {
    width: 324px;
    height: 340px;
  }
}

@media (max-width: $tablet-width) {
  .goods__img {
    width: 130px;
    height: 136px;
  }

  .goods__title {
    width: 130px;
  }

  .goods__price {
    margin-top: 10px;
  }
}
