.insta-tag {
  text-align: center;
}

.insta-tag .title {
  letter-spacing: 0.03em;
}

.insta-tag__photos {
  height: 414px;
  margin-top: 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.insta-tag__photo {
  flex-shrink: 1;
}

.insta-tag__photo--01 {
  width: 19.8%;
  max-height: 230px
}

.insta-tag__photo--02 {
  width: 19.8%;
  max-height: 154px;
}

.insta-tag__photo--03 {
  width: 34%;
  max-height: 414px;
}

.insta-tag__photo--04 {
  width: 19.8%;
  max-height: 193px;
}

.insta-tag__photo--05 {
  width: 18.6%;
  max-height: 191px;
}

.insta-tag__photo--06 {
  width: 18.6%;
  max-height: 218px;
}

.insta-tag__photo--07 {
  width: 19.8%;
  max-height: 166px;
}

@media (max-width: $desktop-width) {
  .insta-tag__photos {
    height: 240px;
  }

  .insta-tag img {
    height: inherit;
  }

  .insta-tag__photo--01 {
    width: 133px;
    height: 133px;
  }

  .insta-tag__photo--02 {
    width: 133px;
    height: 89px;
  }

  .insta-tag__photo--03 {
    width: 231px;
    height: 240px;
  }

  .insta-tag__photo--04 {
    width: 134px;
    height: 111px;
  }

  .insta-tag__photo--05 {
    width: 126px;
    height: 111px;
  }

  .insta-tag__photo--06 {
    width: 126px;
    height: 126px;
  }

  .insta-tag__photo--07 {
    width: 134px;
    height: 96px;
  }
}

@media (max-width: $tablet-width) {
  .insta-tag__photos {
    height: 362px;
    margin-top: 46px;
    align-items: unset;
  }

  .insta-tag__photo--01 {
    width: 130px;
    height: 130px;
    order: 1;
  }

  .insta-tag__photo--02 {
    width: 130px;
    height: 87px;
    order: 2;
  }

  .insta-tag__photo--05 {
    width: 130px;
    height: 115px;
    order: 3;
  }

  .insta-tag__photo--03 {
    width: 145px;
    height: 226px;
    order: 4;
  }

  .insta-tag__photo--03 img {
    height: 100%;
    object-fit: cover;
  }

  .insta-tag__photo--04 {
    width: 145px;
    height: 121px;
    order: 5;
  }

  .insta-tag__photo--06,
  .insta-tag__photo--07 {
    display: none;
  }
}
