.main-header {
  width: 100%;
}

.main-header__top {
  height: 125px;
  display: flex;
  border-bottom: 1px solid #f6f5f4;
}

.main-header__logo {
  position: absolute;
  top: 41px;
  left: 50%;
  margin-left: -33px;
}

.main-header .search {
  margin-top: 58px;
  margin-left: 98px;
}

.main-header__login,
.main-header__cart {
  color: $black;
  text-decoration: none;
  position: absolute;
  margin-top: 58px;
  right: 179px;
}

.main-header__cart {
  right: 98px;
}

.main-header__button-burger,
.main-header__icon-cart {
  display: none;
}

.main-header__bottom--border {
  border-bottom: 1px solid #f6f5f4;
}

@media (max-width: $tablet-width) {
  .main-header {
    background-color: $decor;
  }

  .main-header__top {
    border-bottom: 0 none;
  }

  .main-header__login {
    position: absolute;
    top: 685px;
    left: 45px;
    font-size: 18px;
    color: $base-color;
  }

  .main-header__cart {
    display: none;
  }

  .main-header__logo-img {
    display: none;
  }

  .main-header .search {
    margin-top: 0;
    margin-left: 45px;
  }

  .main-header__button-burger,
  .main-header__icon-cart {
    display: block;
    position: absolute;
    top: 55px;
  }

  .main-header__button-burger {
    @include btn-reset;
    left: 45px;
    height: 25px;
  }

  .main-header__icon-burger{
    height: 16px;
  }

  .main-header__icon-cart {
    right: 45px;
  }

  .main-header__icon-burger,
  .main-header__icon-cart {
    stroke: $base-color;
  }

  .main-header .search__icon  {
    fill: $base-color;
  }

  .main-header__bottom {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-header__top {
    height: 92px;
  }

  .main-header__login {
    left: 15px;
  }

  .main-header__button-burger,
  .main-header__icon-cart {
    top: 38px;
  }

  .main-header__logo {
    display: block;
    top: 20px;
    margin-left: -26px;
  }

  .main-header__logo-icon {
    width: 52px;
    height: 52px;
    fill: $base-color;
  }

  .main-header__button-burger {
    left: 15px;
  }

  .main-header__icon-cart {
    right: 15px;
  }

  .main-header .search {
    top: 102px;
    margin-left: 15px;
  }
}

