.main-header {
  width: 100%;
  position: relative;
}

.main-header__top {
  height: 125px;
  display: flex;
  border-bottom: 1px solid #f6f5f4;
}

.main-header__logo {
  position: absolute;
  top: 41px;
  left: 50%;
  margin-left: -33px;

  &:hover .main-header__logo-icon {
    opacity: 0.7;
  }
}

.main-header .search {
  margin-top: 54px;
  margin-left: 93px;
}

.main-header__login,
.main-header__cart {
  color: $black;
  text-decoration: none;
  position: absolute;
  margin-top: 53px;
  right: 175px;
}

.main-header__login:hover,
.main-header__cart:hover {
  color: $sandybrown;
}

.main-header__cart {
  right: 95px;
}

.main-header__button-burger,
.main-header__link-cart {
  display: none;
}

.main-header__bottom--border {
  border-bottom: 1px solid #f6f5f4;
}

.main-header__bottom--index {
  display: none;
}

@media (max-width: $desktop-width) {
  .main-header__top {
    border-bottom: 0 none;
  }

  .main-header__login {
    display: none;
    position: absolute;
    top: 625px;
    left: 45px;
    font-size: 18px;
    color: rgba($base-color, 0.75);

    &:hover {
      color: $beige;
      opacity: 0.5;
    }
  }

  .main-header__cart,
  .main-header__logo-icon {
    display: none;
  }

  .main-header .search {
    display: none;
    margin-top: 0;
    margin-left: 45px;
  }

  .main-header__button-burger,
  .main-header__link-cart {
    display: block;
    position: absolute;
    top: 53px;
    cursor: pointer;
  }

  .main-header__button-burger {
    @include btn-reset;
    left: 40px;
    height: 25px;

    &:hover .main-header__icon-burger {
      opacity: 0.7;
    }
  }

  .main-header__icon-burger {
    height: 16px;
  }

  .main-header__link-cart {
    right: 45px;

    &:hover {
      opacity: 0.7;
    }
  }

  .main-header .search__icon {
    fill: $base-color;
  }

  .main-header__bottom {
    display: none;
  }

  .main-header--open {
    background-color: $sandybrown;
  }

  .main-header--open .main-header__bottom {
    display: block;
  }

  .main-header--open .search {
    display: block;
  }

  .main-header--open .main-header__login {
    display: block;
  }

  .main-header--open .main-header__icon-burger,
  .main-header--open .main-header__icon-cart path {
    stroke: $base-color;
  }
}

@media (max-width: $tablet-width) {
  .main-header__top {
    height: 92px;
  }

  .main-header__login {
    left: 15px;
    top: 621px;
    margin-top: 0;
  }

  .main-header__button-burger,
  .main-header__link-cart {
    top: 35px;
  }

  .main-header__logo {
    display: block;
    top: 20px;
    margin-left: -26px;
  }

  .main-header__logo-icon {
    width: 52px;
    height: 52px;
    fill: $base-color;
  }

  .main-header__button-burger {
    left: 7px;
  }

  .main-header__link-cart {
    right: 15px;
  }

  .main-header .search {
    top: 102px;
    margin-left: 15px;
  }
}
