.main {
  flex: 1 0 auto;
}

.main__wrapper {
  width: 87%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.main__wrapper--catalog {
  display: flex;
}

.main .tagline--catalog {
  margin-top: 0;
}

.main .slider {
  margin-top: 120px;
}

.main .blog {
  margin-top: 130px;
}

.main .questions {
  margin-top: 130px;
}

.main .insta-tag {
  margin-top: 119px;
  margin-bottom: 130px;
}

.main .filters {
  margin-top: 80px;
}

.main .catalog {
  margin-top: 80px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.main .product {
  margin-top: 80px;
}

.main--product .main__slider {
  margin-bottom: 130px;
}

@media (max-width: $desktop-width) {
  .main__wrapper {
    width: 88%;
  }

  .main__wrapper--catalog {
    flex-direction: column;
  }

  .main .slider {
    margin-top: 80px;
  }

  .main .blog {
    margin-top: 80px;
  }

  .main .questions {
    margin-top: 80px;
  }

  .main .insta-tag {
    margin-top: 84px;
  }

  .main .catalog {
    margin-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    width: 90.6%;
  }

  .main .slider {
    margin-top: 70px;
  }

  .main .blog {
    margin-top: 70px;
  }

  .main .insta-tag {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .main .catalog {
    margin-bottom: 70px;
  }
}
