.main {
  flex: 1 0 auto;
}

.main__wrapper {
  width: 1187px;
  margin-right: auto;
  margin-left: auto;
}

.main .tagline {
  margin-top: 61px;
}

.main .slider {
  margin-top: 130px;
}

.main .blog {
  margin-top: 130px;
}

.main .questions {
  margin-top: 130px;
}

.main .insta-tag {
  margin-top: 119px;
  margin-bottom: 130px;
}

@media (max-width: $desktop-width) {
  .main__wrapper {
    width: 678px;
  }

  .main .slider {
    margin-top: 80px;
  }

  .main .blog {
    margin-top: 80px;
  }

  .main .questions {
    margin-top: 80px;
  }

  .main .insta-tag {
    margin-top: 84px;
  }
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    width: 290px;
  }

  .main .slider {
    margin-top: 70px;
  }

  .main .blog {
    margin-top: 70px;
  }

  .main .insta-tag {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
