.nav {
  display: flex;
}

.nav__list {
  @include list-reset;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__link {
  color: $base-color;
  text-decoration: none;

  &:hover {
    color: rgba($sandybrown, 0.65);
  }
}

@media (max-width: $tablet-width) {
  .nav {
    flex-direction: column;
  }
}
