.nav {
  display: flex;
}

.nav__list {
  @include list-reset;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__link {
  color: $base-color;
  text-decoration: none;
}

@media (max-width: $mobile-width) {
  .nav {
    flex-direction: column;
  }
}
