.questions .title {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 47px;
}

.questions__item {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid $sandybrown;
  border-top: 1px solid $sandybrown;
  border-right: 1px solid $sandybrown;
  border-bottom: 1px solid transparent;
  position: relative;
}

.questions__item:last-child {
  border-bottom: 1px solid $sandybrown;
}

.questions__item h3 {
  max-width: 600px;
  font-size: 18px;
  line-height: 23px;
  margin-top: 44px;
  margin-left: 43px;
  margin-bottom: 42px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 0 none;
  }
}

.questions__item .ui-accordion-header-active {
  margin-bottom: 7px;
}

.questions__item .ui-accordion-content-active {
  margin-bottom: 40px;
}

.questions__item p {
  width: 530px;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.questions .ui-accordion-header:after {
  content: "";
  width: 15px;
  height: 8px;
  display: block;
  position: absolute;
  top: 52px;
  right: 50px;
  background-image: url("../../img/icon-pointer.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.questions .ui-accordion-header:hover:after {
    opacity: 0.6;
}

.questions .ui-state-active:after {
  transform: none;
}

@media (max-width: $desktop-width) {
  .questions .ui-accordion-header:after {
    width: 23px;
    height: 12px;
  }

  .questions__item h3 {
    margin-left: 47px;
  }

  .questions__item .ui-accordion-header-active {
    margin-bottom: 25px;
  }

  .questions__item .ui-accordion-content-active {
    margin-bottom: 42px;
  }

  .questions__item p {
    width: 535px;
  }
}

@media (max-width: $tablet-width) {
  .questions .title {
    margin-bottom: 28px;
  }

  .questions__item h3 {
    font-size: 16px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 19px;
  }

  .questions__item .ui-accordion-header-active {
    margin-bottom: 12px;
  }

  .questions__item .ui-accordion-content-active {
    margin-bottom: 15px;
  }

  .questions__item--material h3 {
    width: 63.8%;
  }

  .questions__item--deliver h3 {
    width: 142px;
  }

  .questions__item--payment h3 {
    width: 159px;
  }

  .questions__item--return h3 {
    width: 206px;
  }

  .questions__item p {
    width: 71.5%;
    font-size: 14px;
    margin-left: 25px;
  }

  .questions .ui-accordion-header:after {
    top: 25px;
    right: 25px;
  }
}
