.sign {
  width: 42.5%;
  max-width: 509px;
  height: fit-content;
  position: relative;
  color: $base-color;
}

.sign h2 {
  font-size: 34px;
  font-family: $ff-secondary;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0 0 15px;
}

.sign p {
  color: $grey;
}

.sign__input {
  @include btn-reset;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  border-bottom: 1px solid $base-color;
  padding-bottom: 12px;

  &::placeholder {
    font-family: $ff-primary;
    font-weight: 500;
  }

  &:hover::placeholder {
    color: $sandybrown;
  }
}

.sign__form {
  position: relative;
}

.sign__submit {
  @include btn-reset;
  font-family: $ff-primary;
  font-size: 16px;
  color: $base-color;
  position: absolute;
  bottom: 5px;
  right: -10px;

  cursor: pointer;

  &:hover {
    color: $sandybrown;
  }

  &:hover .sign__icon {
    stroke: $sandybrown;
  }
}

.sign__icon {
  stroke: $base-color;
  margin-left: 12px;
}

@media (max-width: $desktop-width) {
  .sign {
    width: 90%;
    margin-bottom: 50px;
  }
}

@media (max-width: $tablet-width) {
  .sign {
    width: 100%;
    margin-bottom: 45px;
  }

  .sign h2 {
    width: 213px;
    line-height: 44px;
  }

  .sign p {
    width: 226px;
    margin-top: -1px;
  }
}
