.slider {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.slider__title {
  font-family: $ff-secondary;
  font-size: 34px;
  line-height: 44px;
}

.slider__link {
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $decor;

  &:hover {
    color: $decor;
  }
}

.slider__btn {
  @include btn-reset;
  position: absolute;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

.slider__wrapper {
  width: 1170px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slider__counter {
  margin-top: 60px;
}

.slider__count {
  margin-right: 15px;
}

.slider__count--fourth,
.slider__count--fifth

.slider__count--first {
  font-weight: bold;
}

@media (max-width: $desktop-width) {
  .slider__wrapper {
    width: 678px;
    overflow: hidden;
  }

  .slider__item {
    flex-shrink: 0;
  }
}
