.slider {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.slider__title {
  margin-bottom: 23px;
}

.slider__btn {
  @include btn-reset;
  position: absolute;
  top: 40px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

.slider__wrapper {
  width: 1170px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slider__counter {
  margin-top: 60px;
}

.slider__count {
  margin-right: 15px;
}

.slider__count--first {
  font-weight: bold;
}

.slider__count--fourth,
.slider__count--fifth,
.slider__count--sixth {
  display: none;
}

.slider__count--of {
  display: none;
}

@media (max-width: $desktop-width) {
  .slider__wrapper {
    width: 678px;
    overflow: hidden;
  }

  .slider__item {
    flex-shrink: 0;
  }

  .slider__count--fourth,
  .slider__count--fifth,
  .slider__count--sixth {
    display: inline;
  }
}

@media (max-width: $tablet-width) {
  .slider {
    overflow: hidden;
  }

  .slider__wrapper {
    margin-top: 40px;
  }

  .slider__btn {
    display: none;
  }

  .slider__counter {
    margin-top: 40px;
  }

  .slider__count {
    margin-right: 5px;
  }

  .slider__count--second,
  .slider__count--third,
  .slider__count--fourth,
  .slider__count--fifth {
    display: none;
  }

  .slider__count--of {
    display: inline;
  }
}
