.slider {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.slider h2 {
  margin-bottom: 23px;
}

.slider__btn {
  @include btn-reset;
  position: absolute;
  top: 42px;
  padding: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

.slider__wrapper {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.slider__counter {
  margin-top: 60px;
  list-style: none;
}

.slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.slider .slick-dots {
  margin-top: 47px;
}

@media (max-width: $desktop-width) {
  .slider__wrapper {
    overflow: hidden;
  }
}

@media (max-width: $tablet-width) {
  .slider__wrapper {
    margin-top: 40px;
  }

  .slider__btn {
    display: none;
  }

}
