.tagline {
  max-width: 1366px;
  height: 463px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 180px;

  background-image: url("../../img/background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $sandybrown;

  font-family: $ff-secondary;
  color: $base-color;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tagline {
    background-image: url("../../img/background@2x.png");
    background-size: 1366px auto;
  }
}

.tagline--catalog {
  height: 261px;
  padding-top: 95px;
  background-image: url("../../img/background-catalog@1x.jpg");
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .tagline--catalog {
    background-image: url("../../img/background-catalog@2x.jpg");
  }
}

.tagline__wrapper {
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tagline--catalog .tagline__wrapper {
  width: 488px;
}

.tagline h1 {
  margin: 0;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;
}

.tagline--catalog h1 {
  font-size: 34px;
  line-height: 44px;
}

.tagline p {
  font-size: 38px;
  font-style: italic;
  font-weight: normal;
  line-height: 49px;
  margin: 0;
}

.tagline--catalog p {
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: $desktop-width) {
  .tagline {
    max-width: 768px;
    background-image: url("../../img/background-tablet@1x.png");
  }

  .tagline--catalog {
    background-image: url("../../img/background-catalog-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tagline {
      background-image: url("../../img/background-tablet@2x.png");
    }

    .tagline--catalog {
      background-image: url("../../img/background-catalog-tablet@2x.jpg");
      background-size: contain;
    }
  }
}

@media (max-width: $tablet-width) {
  .tagline {
    max-width: 320px;
    background-image: url("../../img/background-mobile@1x.png");
  }

  .tagline--catalog {
    background-image: url("../../img/background-catalog-mobile@1x.png");
  }

  .tagline--catalog .tagline__wrapper {
    width: 248px;
  }

  .tagline--catalog h1 {
    white-space: nowrap;
    letter-spacing: normal;
  }

  .tagline--catalog p {
    line-height: 22px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tagline {
      background-image: url("../../img/background-mobile@2x.png");
    }

    .tagline--catalog {
      background-image: url("../../img/background-catalog-mobile@2x.png");
    }
  }
}
