.tagline {
  width: 100%;
  height: 463px;
  box-sizing: border-box;
  padding-top: 180px;

  background-image: url("../img/background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  font-family: $ff-secondary;
  color: $base-color;
}

.tagline--catalog {
  height: 261px;
  padding-top: 95px;
  background-image: url("../img/background-catalog@1x.jpg");
}

.tagline__wrapper {
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tagline--catalog .tagline__wrapper {
  width: 488px;
}

.tagline__title {
  margin: 0;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.03em;
}

.tagline--catalog .tagline__title {
  font-size: 34px;
  line-height: 44px;
}

.tagline__text {
  font-size: 38px;
  font-style: italic;
  font-weight: normal;
  line-height: 49px;
}

.tagline--catalog .tagline__text {
  font-size: 22px;
  line-height: 29px;
}

@media (max-width: $desktop-width) {
  .tagline {
    background-image: url("../img/background-tablet@1x.png");
  }
}

@media (max-width: $tablet-width) {
  .tagline {
    background-image: url("../img/background-mobile@1x.png");
  }
}
