/*----- Типографика -----*/
$ff-primary: "Poppins", arial, sans-serif;
$ff-secondary: "Cormorant Garamond", arial, serif;

/*----- Breakpoints -----*/
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

/*----- Цвета -----*/
$base-color: #ffffff;
$black: #1d1613;
$black2: #000000;
$grey: #9b9997;
$decor: #a87b62;
