/*----- Типографика -----*/
$ff-primary: poppins, arial, sans-serif;
$ff-secondary: cormorant garamond, arial, sans-serif;

/*----- Breakpoints -----*/
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;

/*----- Цвета -----*/
$base-color: #ffffff;
$black: #1d1613;
$black2: #000000;
$grey: #9b9997;
$grey2: #f6f5f4;
$sandybrown: #a87b62;
$beige: #f0eae4;
