/*----- Типографика -----*/
$ff-primary: "Poppins", arial, sans-serif;
$ff-secondary: "Cormorant Garamond", arial, serif;

/*----- Цвета -----*/
$base-color: #ffffff;
$black: #1d1613;
$grey: #9b9997;
